@import (reference) '~assets/styles/shared';

.CreditlineProposalForm {
  width:100%;
  > span {
    font-size: @size-18;
    font-weight: @weight-bold;
  }
  > div {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--primary-bg);
    border-radius: @size-10;
    border: @size-1 solid var(--theme-border);
    margin: 2%;
    > label {
      font-size: @size-18;
      font-weight: @weight-bold;
      color: var(--primary-text);
      
    }
  }
}


.CreditLineProposalView {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: @size-40 @size-72 @size-48;
}