@import (reference) '~assets/styles/shared';

.CreditlineProposalForm {
  display: flex;
  flex-flow: column wrap;
  align-items: normal;
  margin: @size-10;
  background-color: var(--primary-bg);
  border: @size-1 solid var(--theme-border);
  border-radius: @size-10;
  width:70%;
  
  > h3 {
    font-size: @size-20;
    font-weight: @weight-bold;
    padding: @size-16;
    border-bottom: @size-1 solid var(--theme-border);
    margin: @size-10;
  }
  > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: @size-20;
    > label {
      font-size: @size-18;
      font-weight: @weight-bold;
      color: var(--primary-secondary);
      padding: @size-16;
    }
    > input {
      font-size: @size-18;
      font-weight: @weight-bold;
      color: var(--primary-secondary);
      padding: @size-16;
      border: @size-1 solid var(--theme-border);
      border-radius: @size-10;
      width: 50%;
    }
  }
}

.Description {

  padding: @size-20;
  > textarea {
    border: @size-1 solid var(--theme-border);
    border-radius: @size-10;
  }
}

.Duration {
  padding: @size-20;
}

.CreditLineProposalView {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: @size-40 @size-80 @size-48;
}