@import (reference) '~assets/styles/shared';

.BorrowView {
    display: flex;
    flex-flow: column nowrap;

    ul.nav {
        width: 60%;
        margin: 0 auto 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #39A2DB;
        border-radius: 2rem;
        padding-left: 0px;
        @media (max-width: 768px) {
          width: 90%;
        }
    }
    ul.nav li:first-child {
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
    }
    
    ul.nav li:last-child {
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;
    }
    ul.nav li:hover {
        background: rgba(50, 224, 196, 0.15);
    }
    ul.nav li.active {
        background: #39A2DB;
    }
}

.PoolCardView {
    display: flex;
    > div {
        float: right;
    }
}

.LoadingMarketCard {
    .ThemeBorder;
  
    background-color: var(--primary-bg);
    padding: @size-24;
    max-height: @size-280;
  
    > div {
      display: grid;
  
      > div {
        .ShimmerEmptyBlock;
      }
  
      &:nth-of-type(1) {
        grid-template-columns: @size-40 75px auto;
        display: grid;
        grid-template-rows: @size-32;
        grid-gap: @size-8;
        margin-bottom: @size-20;
  
        > div:last-of-type {
          width: @size-20;
          height: @size-20;
          margin-left: auto;
          border-radius: @size-100;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
  
      &:nth-of-type(2) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, @size-16);
        grid-gap: @size-4;
        margin-bottom: @size-45;
  
        > div:last-of-type {
          max-width: 161px;
        }
      }
  
      &:nth-of-type(3) {
        grid-template-columns: 1fr minmax(@size-200, @size-250);
        grid-template-rows: @size-46 repeat(2, @size-16);
        display: grid;
        grid-column-gap: @size-32;
        grid-row-gap: @size-4;
  
        > div:last-of-type {
          grid-column: 2;
          grid-row: 1 / span 3;
        }
  
        > div:nth-of-type(2) {
          grid-column: 1;
          grid-row: 3;
        }
  
        > div:first-of-type {
          grid-row: 2;
          width: @size-40;
        }
      }
    }
  }

.EmptyMarketsMessage {
    .EmptyMessage;

    background: var(--primary-bg);
    padding: @size-20 @size-16;
    display: flex;
    text-align: center;
    border-radius: @size-8;
    grid-column: span 3;
}

.UserLoanCardView {
    display: flex;
    > div {
        float: right;
    }
}