@import (reference) '~assets/styles/shared';

.BorrowView {
  display: flex;
  flex-flow: column nowrap;
  padding: @size-40 @size-88 @size-48;
  > section {
    margin-bottom: @size-10;
    &.Nav {
      display: flex;
      flex-flow:row nowrap;
      justify-content:flex-start;
      padding-left:@size-36;
      > div {
        font-weight:@weight-bold;
        font-size: @size-24;
        padding: @size-8 @size-16 0;
        border-bottom: @size-2 solid var(--primary-text);
        &.Active {
          border-bottom: @size-2 solid var(--color-brand);
        }
      }
    }
  }

}

.PoolCardView {
    display: flex;
    > div {
        float: right;
    }
}

.PoolsView {
  display: flex;
  flex-flow: column nowrap;
  
  position: relative;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  // border-color: var(--theme-border);
  // border-width:@size-1;
  // border-style:solid;
  // background-color: var(--primary-bg);
  // border-radius: @size-10;
  > table {
    width:100%;
    border-collapse:separate;
    border-spacing:0 @size-24;
    table-layout:fixed;
    > thead {
      > tr {
        > th {
          font-size: @size-14;
          font-weight: @weight-bold;
          color: var(--secondary-text);
        }
      }
    }
    > tbody {
      > tr {
        .HoverDropShadow;
        border-radius: @size-8;
        > td:first-of-type {
          > div {
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          border-left: @size-1 solid var(--theme-border);
          border-top-left-radius: @size-8;
          border-bottom-left-radius: @size-8;
        }
        >td:last-of-type {
          border-right: @size-1 solid var(--theme-border);
          border-top-right-radius: @size-8;
          border-bottom-right-radius: @size-8;
        }
        > td {
          background-color: var(--primary-bg);
          vertical-align: middle;
          text-align: center;
          position: relative;
          box-sizing:border-box;
          padding:@size-14 0;
          border-top: @size-1 solid var(--theme-border);
          border-bottom: @size-1 solid var(--theme-border);
          // border-right: @size-1 solid var(--theme-border);
          > span {
            font-size: @size-24;
            font-weight: @weight-semi-bold;
            color: var(--primary-text);
          }
          > div {
            &.TokenList {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items:center;
              word-break:break-all;
              > div {
                margin: @size-8;
              }
            }

          }
        }
      }
    }
  }
}

.CollateralItem {
  display: flex;
}

.LoadingMarketCard {
    .ThemeBorder;
  
    background-color: var(--primary-bg);
    padding: @size-24;
    max-height: @size-280;
  
    > div {
      display: grid;
  
      > div {
        .ShimmerEmptyBlock;
      }
  
      &:nth-of-type(1) {
        grid-template-columns: @size-40 75px auto;
        display: grid;
        grid-template-rows: @size-32;
        grid-gap: @size-8;
        margin-bottom: @size-20;
  
        > div:last-of-type {
          width: @size-20;
          height: @size-20;
          margin-left: auto;
          border-radius: @size-100;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
  
      &:nth-of-type(2) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, @size-16);
        grid-gap: @size-4;
        margin-bottom: @size-45;
  
        > div:last-of-type {
          max-width: 161px;
        }
      }
  
      &:nth-of-type(3) {
        grid-template-columns: 1fr minmax(@size-200, @size-250);
        grid-template-rows: @size-46 repeat(2, @size-16);
        display: grid;
        grid-column-gap: @size-32;
        grid-row-gap: @size-4;
  
        > div:last-of-type {
          grid-column: 2;
          grid-row: 1 / span 3;
        }
  
        > div:nth-of-type(2) {
          grid-column: 1;
          grid-row: 3;
        }
  
        > div:first-of-type {
          grid-row: 2;
          width: @size-40;
        }
      }
    }
  }

.EmptyMarketsMessage {
    .EmptyMessage;

    background: var(--primary-bg);
    padding: @size-20 @size-16;
    display: flex;
    text-align: center;
    border-radius: @size-8;
    grid-column: span 3;
}



// marketcard
.LoanCard {
  .HoverDropShadow;
  .ThemeBorder;
  display: flex;
  flex-flow: column nowrap;
  align-items:center;
  border-radius: @size-8;
  padding: @size-20;
  border: @size-1 solid var(--theme-border);
  background-color: var(--primary-bg);
  >section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    >div {
      padding:@size-6;
    }
    > div:first-of-type {
      display: grid;
      grid-template-columns: auto 1fr;
      > span {
        &:first-of-type {
          .text-16-semi-bold;
    
          color: var(--secondary-text);
          font-style: normal;
          font-size: 0.75rem;
          font-weight:400;
          margin-bottom: @size-8;
          grid-column: 1 / span 2;
        }
      }
    }
  }
}

.MyLoansView {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: @size-24;
  border-radius: @size-10;
}