@import (reference) '~assets/styles/shared';

.BorrowView {
  display: flex;
  flex-flow: column nowrap;
  padding: @size-40 @size-88 @size-48;
  > section {
    margin-bottom: @size-10;
    &.Nav {
      display: flex;
      flex-flow:row nowrap;
      justify-content:flex-start;
      padding-left:@size-10;
      > div {
        font-weight:@weight-bold;
        font-size: @size-30;
        padding: @size-8 @size-16 0;
        border-bottom: @size-2 solid var(--primary-text);
        &.Active {
          border-bottom: @size-2 solid var(--color-brand);
        }
      }
    }
  }

}

.PoolCardView {
    display: flex;
    > div {
        float: right;
    }
}

.PoolsView {
  display: flex;
  flex-flow: column nowrap;
  
  position: relative;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  // border-color: var(--theme-border);
  // border-width:@size-1;
  // border-style:solid;
  // background-color: var(--primary-bg);
  // border-radius: @size-10;
  > table {
    width:100%;
    border-collapse:separate;
    border-spacing:0 @size-24;
    table-layout:fixed;
    > thead {
      > tr {
        > th:first-of-type {
          column-span: 2;
        }
        > th {
          font-size: @size-14;
          font-weight: @weight-bold;
          color: var(--secondary-text);
          > div {
            display:flex;
            flex-flow:row nowrap;
            justify-content: center;
          }
        }
      }
    }
    > tbody {
      > tr {
        // .HoverDropShadow;
        border-radius: @size-8;
        > td:first-of-type {
          > div {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            > span:last-of-type {
              display: block;
              width: 200px;
              text-overflow: ellipsis;
              overflow: hidden;
              font-size: 1.5rem;
              font-weight: 600;
              overflow-wrap: break-word;
            }
          }
          border-left: @size-1 solid var(--theme-border);
          border-top-left-radius: @size-8;
          border-bottom-left-radius: @size-8;
        }

        // >td:nth-of-type(2) {
        //   >div {
        //     > span {
        //       justify-content: center;
        //     }

        //     >span:first-of-type {
        //       display: block;
        //       font-size:@size-14;
        //       text-overflow: ellipsis;
        //       overflow:hidden;
        //       white-space: nowrap;
        //       width: 200px;
        //     }
        //   }
        // }
      
        >td:last-of-type {
          border-right: @size-1 solid var(--theme-border);
          border-top-right-radius: @size-8;
          border-bottom-right-radius: @size-8;
        }
        > td {
          vertical-align: middle;
          text-align: center;
          position: relative;
          box-sizing:border-box;
          padding:@size-20 0;
          border-top: @size-1 solid var(--theme-border);
          border-bottom: @size-1 solid var(--theme-border);
          // border-right: @size-1 solid var(--theme-border);
          > span {
            font-size: @size-24;
            font-weight: @weight-semi-bold;
            color: var(--primary-text);
          }
          > div {
            &.TokenList {
              // display: flex;
              // flex-wrap: wrap;
              // justify-content: center;
              // align-items:center;
              // word-break:break-all;
              // > div {
              //   margin: @size-8;
              // }
              display: grid;
              grid-template-columns: 70px 70px;
              grid-gap: @size-5;
              justify-content: center;
            }

          }
        }

        background-color: var(--primary-bg);

        &:hover {
          background-color: var(--quaternary-bg);
        }

      }
    }
  }
}

.CollateralItem {
  display: block;
  justify-content: center;
}

.LoadingMarketCard {
    .ThemeBorder;
  
    background-color: var(--primary-bg);
    padding: @size-24;
    // max-height: @size-280;
    width:100%;
  
    > div {
      display: grid;
  
      > div {
        .ShimmerEmptyBlock;
      }
  
      &:nth-of-type(1) {
        grid-template-columns: @size-40 75px auto;
        display: grid;
        grid-template-rows: @size-32;
        grid-gap: @size-8;
        margin-bottom: @size-20;
  
        > div:last-of-type {
          width: @size-20;
          height: @size-20;
          margin-left: auto;
          border-radius: @size-100;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
  
      &:nth-of-type(2) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, @size-16);
        grid-gap: @size-4;
        margin-bottom: @size-45;
  
        > div:last-of-type {
          max-width: 161px;
        }
      }
  
      &:nth-of-type(3) {
        grid-template-columns: 1fr minmax(@size-200, @size-250);
        grid-template-rows: @size-46 repeat(2, @size-16);
        display: grid;
        grid-column-gap: @size-32;
        grid-row-gap: @size-4;
  
        > div:last-of-type {
          grid-column: 2;
          grid-row: 1 / span 3;
        }
  
        > div:nth-of-type(2) {
          grid-column: 1;
          grid-row: 3;
        }
  
        > div:first-of-type {
          grid-row: 2;
          width: @size-40;
        }
      }
    }
  }

.EmptyMarketsMessage {
    .EmptyMessage;

    background: var(--primary-bg);
    padding: @size-20 @size-16;
    display: flex;
    text-align: center;
    border-radius: @size-8;
    grid-column: span 3;
}



// marketcard
.LoanCard {
  .HoverDropShadow;
  .ThemeBorder;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: @size-24 @size-24;
  background-color: var(--primary-bg);
  width: 350px;
  height: 300px;
  position: relative;
  > div:first-of-type {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: @size-10;
    // width: 100%;
    > span:first-of-type {
      font-size: @size-20;
      font-weight: @weight-bold;
      color: var(--secondary-text);
    }
  }
  > section {
    display: flex;
    width:100%;
    display: grid;
    height: 65%;
    grid-template-columns: 1fr 1fr ;

    > div:first-of-type {
      > div {
        margin-bottom: @size-16;
      }
    }
    
    >div:last-of-type {
      >span:first-of-type {
        font-size: @size-12;
        font-weight: @weight-semi-bold;
        color: var(--secondary-text);
      }
      >span:last-of-type {
        font-size: @size-12;
        font-weight: @weight-semi-bold;
        color: var(--secondary-text);
        padding-left: @size-16;
          > svg {
            height: @size-16;
            width: @size-16;
            border-radius: @size-4;
          }
      }
    }
  }

  > div:last-of-type {
    position: absolute;
    bottom: 40px;
  }

  .LoanCardButtons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
  }
  &.Trusted {
    > section:first-of-type {
      display: flex;
      flex-flow: row nowrap;
      > div:first-of-type {
        display: flex;
        flex-flow: column nowrap;
        
        width: 50%;
        > div {
          display: flex;
          flex-flow: row nowrap;
          align-items: flex-end;
          justify-content: flex-start;
          margin-bottom: @size-10;
          height:60px;
          > div:first-of-type {
            min-width: 110px;
          }
        }
      }

      > div:nth-of-type(2) {
        display: flex;
        flex-flow: column nowrap;
        width: 50%;
        > div:first-of-type {
          margin-top: 25px;
        }
        > div {
          display: flex;
          flex-flow: row nowrap;
        }
        >div:nth-of-type(2) {
          margin-top:40px;
        }
      }
    }
  }
}

.MyLoansView {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: @size-24;
  border-radius: @size-10;
  > section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: @size-24;
  }
}