.VaultCard {
    .HoverDropShadow;
  
    border-radius: @size-8;
  
    &.Popular {
      background: linear-gradient(to left, var(--color-brand), var(--color-brand-tertiary));
      padding: @size-2;
      box-shadow: unset;
      transition: box-shadow 0.3s ease-out;
  
      &:hover:not(:disabled) {
        box-shadow:  0 @size-8 @size-40 rgba(var(--color-brand-rgb), 0.15);
        transition: box-shadow 0.3s ease-out;
        animation: greenNPurple 1.25s linear infinite alternate; 
      }
  
      > a,
      > div,
      > section > div {
        border: none;
        padding: @size-22;
      }
    }
  
    > a,
    > div,
    > section > div {
      .text-14-bold;
      .ThemeBorder;
  
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: var(--primary-bg);
      display: grid;
      height: 100%;
      grid-template-columns: @size-46 @size-60 1fr;
      padding: @size-24;
      grid-template-rows: auto;
  
      > article {
        display: grid;
        grid-template-columns: @size-32 @size-60 1fr;
        grid-template-rows: @size-32;
        grid-column: span 3;
        grid-row: 1;
        grid-gap: @size-16 @size-8;
  
        &.Trading {
          grid-gap: 0 @size-8;
  
          > div:last-of-type {
            > button {
              display: flex;
            }
  
            > div[class*="ValueLabel"] {
              display: grid;
            }
          }
        }
  
        > div[class*="InSettlement"],
        > div[class*="Resolved"] {
          display: none;
          grid-row: 1;
          grid-column: 1 / span 3;
        }
  
        > div[class*="CategoryIcon"] {
          display: flex;
          margin-right: @size-8;
          grid-column: 1;
          grid-row: 1;
        }
  
        > div[class*="CategoryLabel"] {
          grid-column: 2 / span 2;
          grid-row: 1;
          width: fit-content;
        }
  
        > div:last-of-type {
          align-items: center;
          justify-content: flex-end;
          display: flex;
          grid-row: 1;
          grid-column: 3;
  
          > span:not(:last-of-type) {
            margin-right: @size-8;
          }
  
          > button {
            display: none;
          }
  
          > div[class*="ValueLabel"] {
            display: none;
  
            > span:last-of-type {
              .text-12-semi-bold;
  
              margin-top: @size-2;
              justify-content: flex-end;
            }
          }
        }
      }
  
      > section > span,
      > a > span,
      > span {
        > span:first-of-type {
          .text-14-semi-bold;
  
          color: var(--primary-text);
          line-height: 140%;
  
          > span:first-of-type {
            .limit-lines(1);
          }
  
          > span:last-of-type {
            .limit-lines(2);
          }
  
          > span:first-of-type:last-of-type {
            .limit-lines(3);
          }
        }
  
        > span:last-of-type {
          .text-12;
  
          color: var(--secondary-text);
          white-space: nowrap;
          word-break: none;
          display: inline-block;
          text-transform: uppercase;
  
          @media @breakpoint-mobile-tablet {
            .text-10;
          }
        }
  
        &:first-of-type {
          display: grid;
          grid-gap: @size-6;
          grid-template-columns: 1fr;
          grid-template-rows: auto 1fr;
          margin: @size-16 0 @size-4;
          text-align: left;
          height: @size-78;
        }
      }
  
      > span {
        grid-column: 1 / span 3;
      }
  
      > a,
      > section {
        grid-column: 1 / span 3;
        width: 100%;
        min-height: @size-180;
        display: grid;
        grid-template-columns: @size-80 @size-9 1fr;
        grid-template-rows: auto;
        margin-bottom: 0;
        grid-gap: @size-8;
  
        > span {
          grid-column: 1 / span 3;
          grid-row: 1;
        }
  
        > div:first-of-type {
          // volume labels (Total Volume)
          grid-column: 1 / span 2;
          grid-row: 2;
          align-items: flex-end;
          margin-top: @size-16;
  
          > span:last-of-type {
            .text-14-semi-bold;
  
            margin-top: @size-2;
          }
        }
  
        > div:nth-of-type(2) {
          // volume labels (Liquidity)
          // align-items: flex-end;
          grid-column: 1 / span 2;
          grid-row: 3;
          display: flex;
          flex-flow: column nowrap;
          height: 100%;
  
          > span {
            &:first-of-type {
              .text-12;
  
              color: var(--secondary-text);
            }
  
            &:last-of-type {
              .text-14-semi-bold;
  
              margin-top: @size-2;
              color: var(--primary-text);
            }
          }
        }
  
        > div.OutcomesTable {
          grid-column: 3;
          grid-row: 2 / span 2;
          margin-top: auto;
        }
  
        > span.ExtraOutcomes {
          .text-10-semi-bold;
  
          color: var(--secondary-text);
          position: relative;
          top: 210%;
          height: 0;
          overflow: visible;
          text-transform: uppercase;
          margin: 0;
          text-align: right;
        }
      }
    }
  
    &.NoLiquidity {
      > a,
      > div,
      > section > div {
        > div:first-of-type {
          grid-column: 1 / span 3;
          margin-right: 0;
          display: flex;
          flex-direction: column;
  
          > span {
            .text-14-semi-bold;
  
            color: var(--secondary-text);
            margin-bottom: @size-16;
          }
        }
      }
    }
  }