@import (reference) "~assets/styles/shared";

.BaseHorizontalSlider {
    width: 100%;
    //max-width: 500px;
    > div:first-of-type { // left track
        position: relative;
        background: var(--buy);
        height:3px;
    }
    >div:nth-of-type(2) { // right track 
        position:relative;
        background:var(--tertiary-text);
        height:3px
    }
    >div:nth-of-type(3) {
        cursor: pointer;
        position: absolute;
        z-index: 100;
        background: #ffffff;
        border: 6px solid var(--inverted-primary-bg);
        border-radius: 100%;
        display: block;
        box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
    }
}

.VerticalFill {
    height: 100%;
    max-height: 500px;
    background:var(--tertiary-text);
    > div:first-of-type { // left track
        position: relative;
        background: var(--buy);
        width: 16px;
        // border-radius: 1px 1px 1px 1px;
    }
    >div:nth-of-type(2) { // right track 
        position:relative;
        background:var(--tertiary-text);
        width:16px;
        border-radius: 1px 1px 0 0;
    }
    >div:nth-of-type(3) {
        cursor: pointer;
        position: absolute;
        z-index: 100;
        background: #ffffff;
        background:var(--tertiary-text);
        border-radius: 100%;
        display: block;
        box-shadow: 0 0 1px 0 rgb(0 0 0 / 44%);
    }
}

.BaseThumb {
}

.BaseMark {
    width: @size-10;
    height: @size-10;
    border-radius: 50%;
    top: 12px;
    background-color: var(--inverted-primary-bg);
}

.BaseHorizontalSlider .BaseTrack {
    top: 16px;
    height: 8px;
}

.BaseHorizontalSlider .BaseThumb {
    top: 12px;
    width: 10px;
    outline: none;
    height: 10px;
    line-height: 38px;
}

.example-track {
    position: relative;
    background: var(--buy);
  }

  .example-thumb {
    font-size: 0.9em;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
  }

  .InstrumentStatusSlider {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: @size-10;
    padding-bottom: @size-36;
    width: 100%;
    background-color: var(--tertiary-bg);
    .ThemeBorder;

    &.Fixed {
        > div:first-of-type {
            display: flex;
            width:100%;

            // > div:first-of-type {
            //     position: relative;
            //     left: 0;
            // }
            // > div:nth-of-type(2) {
            //     position: relative;
            //     left:30%;
            // }
            // >div:nth-of-type(3) {
            //     position: relative;
            //     left: 50%;
            // }
        }
    }

    > div:first-of-type {
        display: flex;
        width:100%;
        flex-flow: row nowrap;
        font-size: @size-18;
        font-weight: @weight-bold;
        color: var(--secondary-text);
        justify-content: space-between;
        // > div:first-of-type {
        //     position: relative;
        //     left: 0;
        // }
        // > div:nth-of-type(2) {
        //     position: relative;
        //     left:50%;
        // }
    }


    > div:last-of-type {
        >div:nth-of-type(3) {
            display: none;
        }
    }
  }