@import (reference) '~assets/styles/shared';

.ProposalsView {
    display: flex;
    flex-flow: column nowrap;
    padding: @size-40 @size-88 @size-48;
    align-items: center;

    > section:first-of-type {
        display: flex;
        flex-flow: row nowrap;
        width: 90%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        border-bottom: @size-2 solid var(--theme-border);
        margin-bottom:@size-16;
        > div {
            padding:@size-8;
            .text-14-semi-bold;
            height:100%;
            border-bottom: @size-2 solid var(--theme-border);
            &.Active {
                border-bottom: @size-2 solid var(--color-brand);
              }
        }
        
    }
        
}