@import (reference) '~assets/styles/shared';

.ProposalsView {
    display: flex;
    flex-flow: column nowrap;
    padding: @size-40 @size-88 @size-48;
    align-items: center;

    > section:first-of-type {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        border-bottom: @size-1 solid var(--theme-border);
        margin-bottom:@size-16;
        > div {
            padding:@size-8;
            font-weight:@weight-bold;
            font-size: @size-30;
            // .text-24-semi-bold;
            height:100%;
        }
        
    }
    > section:last-of-type {
        width: 100%;
    }
        
}

.PoolTab {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}